/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
package-lock.json
yarn.lock
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions



# Ignore everything in the terraform/ directory
terraform/*

# But allow .tf files in the terraform/ directory
!terraform/
!terraform/*.tf

# Ignore .tfstate files (and any backups) in terraform/
terraform/*.tfstate
terraform/*.tfstate.*

# Ignore hidden files and directories in terraform/
terraform/.*



